body {
  background-image: "picture-md.png"; /* the default image */
}

@media only screen and (min-resolution: 192dpi) {
  body {
    background-image: "picture-lg.png"; /* higher resolution */
  }
}

/* object-fit */
@media only screen and (min-resolution: 192dpi) {
  body {
    background-image: "picture-lg.png";
    object-fit: cover;
    object-position: 100% 150%; /* moves focus toward the middle-right */
  }
}
